* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: #b3b3b3;
  font-size: 14px;
}

h3 {
  margin: 12px 0;
}

button {
  color: azure;
  border: none;
  padding: 8px;
  background-color: #4d4df9;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  border-radius: 3px;
}

button:disabled {
  background-color: transparent;
  color: #f0ffff4d;
}

button:hover {
  background-color: #7979fb;
  transition: background-color 0.2s ease;
}

input {
  margin-bottom: 8px;
  border-radius: 5px;
  border: none;
}
.type-1-body label {
  display: inline-block;
  width: 120px;
  text-align: right;
}
.download {
  pointer-events: none;
  color: #f0ffff4d;
  text-decoration: none;
}

.speed-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5%;
}

textarea {
  resize: none;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.container {
  min-height: 100%;
  min-width: 100%;
  /*  */
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  background-color: #343a40;
  display: flex;
  flex-direction: column;
}

.modes-container {
  height: 10vh;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #343a40;
}

.sub-mode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  position: fixed;
  left: 0;
  top: 10vh;
  background-color: #343a405a;
  color: azure;
  gap: 1%;
}
.sub-mode-container button {
  background-color: transparent;
  transition: color 0.1s;
}

.sub-mode-container .quit {
  cursor: default;
}
.ascending {
  color: rgb(0, 234, 255);
}
.bars-container {
  min-height: 97vh;
  height: fit-content;
  width: 100%;
  background-color: rgb(106, 140, 244);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  padding: 10vh 1% 30vh 1%;
  overflow: auto;
  gap: 10px;
}

.types-container {
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #343a40;
  position: fixed;
  bottom: 0;
  left: 0;
}

.create-array-btn,
.random-btn {
  display: inline-block;
  width: 100%;
}

.bar-item {
  width: fit-content;
  min-width: 1vw;
  height: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin-right: 1px;
}
.bar-header {
  background-color: red;
  transition: height 0.1s ease, background-color 0.1s ease;
  border-radius: 3px;
}

.bar-number {
  padding: 0 2px;
  visibility: hidden;
  color: #343a40;
  font-weight: 600;
}
.display-container {
  position: fixed;
  background-color: #343a40a9;
  padding: 10px;
  width: 20vw;
  height: 53vh;
  top: 19vh;
  left: 10px;
  overflow: hidden;
  border-radius: 5px;
}
#display-title {
  font-size: 22px;
  color: rgb(22, 226, 255);
  font-weight: bold;
}
.display-container div {
  margin-bottom: 15px;
}
.display-value input {
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
}
.display-container p {
  margin-bottom: 10px;
  font-size: 14px;
  color: white;
}
.display-log-content {
  position: absolute;
  top: 29vh;
  height: 23vh;
  width: 94%;

  overflow-wrap: break-word;
  overflow-y: scroll;
  font-size: 13px;
}
.display-log-title {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 96%;
  position: absolute;
  top: 25vh;
}
.display-log-title p {
  margin-bottom: 0;
}
.display-log-btn {
  font-size: 12px;
  background-color: transparent;
  text-decoration: underline;
  padding-bottom: 0px;
}
.display-log-btn:hover {
  color: rgb(248, 128, 128);
  background-color: transparent;
  transition: color 0.1s ease;
}
